/**
 * styles.module.css
 *
 * @format
 */

.container {
  display: flex; /* Cambiado a flex para alinear elementos horizontalmente */
  align-items: center;
  margin: 20px;
}

.input {
  position: fixed;
  top: 75px;
  right: 145px;
  width: 200px;
  background-color: #f0e5d1; /* Color similar al del menú, pero más claro */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input:hover {
  background-color: #ddd953; /* Cambio de color al pasar el cursor */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  position: fixed;
  margin: 5px;
  top: 70px;
  right: 55px;
  padding: 16px;
  background-color: #f0e5d1; /* Color similar al del menú, pero más claro */
  color: #0c0909;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.button:hover {
  background-color: rgb(62, 235, 62);
}
