/** @format */

.containerHome {
  display: inline-block;
  padding: 8px;
  margin-top: 150px;
  border-radius: 5px;
  margin-right: 5px;
}
.pagination {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  margin-top: 20px;
}
.page {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #396d6e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page:hover {
  background-color: #def54f;
}

.page:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
