/**
 * styles.module.css
 *
 * @format
 */

.containerNav {
  display: inline-block;
  padding: 0;
  margin: 15px;
  margin-left: 20px;
  height: 28%;
  background-color: #f0e5d1; /* Color de fondo más claro */
  position: fixed;
  border-radius: 20px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  animation: floatAnimation 2s infinite ease-in-out; /* Animación de movimiento */
}

.Link,
.linkDos,
.linkTres {
  display: block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 6px;
  text-align: center;
}

.Link {
  background-color: #396d6e;
}

.Link:hover {
  background-color: #def54f;
}

.linkDos {
  background-color: #3f51b5;
}

.linkDos:hover {
  background-color: greenyellow;
}

.linkTres {
  background-color: #ff9800;
}

.linkTres:hover {
  background-color: #ffcc80;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Movimiento más sutil */
  }
  100% {
    transform: translateY(0);
  }
}
